body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0;

}

.header {
    background-color: #1F2937;
    padding: 8px 150px 60px;
    display: flex;
    justify-content: space-between;
}

.header-left {
    width: 400px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
    margin-bottom: 80px;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 8px;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
}

.links {
    margin-bottom: 100px;      
}

ul {
    display: flex; 
    gap: 50px;
    justify-content: flex-end;
    margin: 0;
    padding: 0;    
    list-style-type: none; 
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

img {
    width: 450px;
    height: 300px;
}

button {
    width: 90px;
    height: 30px;
    color: #E5E7EB;
    background-color: #3882f6;
    border-radius: 5px;
    border-width: 0;    
    border:none    
}

.part-one {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 80px;
    align-items: center;
    padding: 8px 150px;
    background-color: 3882f6;
}

.info-title {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
}

.box-image {
    width: 120px;
    height: 120px;
    border: 2px solid #3882f6;
    border-radius: 5px;
}

.icons {
    display: flex;
    justify-content: space-between;
    gap: 110px;
}

.icon-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    width: 120px;
}

.icon-title {
    color: #1F2937;
    font-weight: 700;
}

.icon-text {
    text-align: center;
    color: #1F2937;
}

.part-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 8px 480px;
    gap: 5px;
    height: 210px;
}

.quote {
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
}

.quote-ref {
    align-self: flex-end;
    content: #1F2937;
    font-weight: bolder;    
}